a { cursor: pointer; }

.app-container {
    min-height: 350px;
}

.navbar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.navbar .nav-item {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}
   
.navbar a:hover:not(.active) {
    background-color: #555;
    color: white;
}
   
@media screen and (max-width: 700px) {
    .navbar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .navbar a {float: left;}
    div.content {margin-left: 0;}
}
   